.main {
    width: 860px;
    padding: 36px 29px;
    border: 1px solid transparent;
    border-radius: var(--cocoon-basic-border-radius);
    position: relative;
    z-index: 0;
}

#list, .list-wrap {
    margin-bottom: 3em;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.a-wrap {
    text-decoration: none;
    display: block;
    color: var(--cocoon-text-color);
    padding: 1.5%;
    transition: all 0.3s ease-in-out;
}

article {
    display: block;
    unicode-bidi: isolate;
}

.related-entry-card, .entry-card {
    position: relative;
    height: 100%;
}

.entry-card-thumb {
    width: 320px;
}

.card-thumb img {
    width: 100%;
}
.blogcard-thumbnail img, .card-thumb img {
    aspect-ratio: var(--card-ratio);
    object-fit: cover;
}
img {
    max-width: 100%;
    height: auto;
}

.cat-label {
    position: absolute;
    top: .3em;
    left: .3em;
    border: 1px solid #eee;
    font-size: 11px;
    color: var(--cocoon-white-color);
    background-color: rgba(51, 51, 51, .7);
    padding: 1px 5px;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entry-card-content {
    margin-left: 330px;
    padding-bottom: 1.2em;
}

.related-entry-card-content, .entry-card-content {
    padding-bottom: 1.2em;
}

.related-entry-card-title, .entry-card-title {
    font-size: 18px;
    margin: 0 0 5px 0;
    line-height: 1.6;
    font-weight: 700;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.related-entry-card-snippet, .entry-card-snippet {
    font-size: var(--cocoon-text-size-s);
    line-height: 1.3;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.related-entry-card-meta {
    bottom: 0;
    position: absolute;
    right: 0;
    text-align: right;
    line-height: 1;
}

.entry-card-meta {
    bottom: 0;
    position: absolute;
    right: 0;
    text-align: right;
    line-height: 1;
}

.e-card-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.e-card-info>span {
    margin-right: 4px;
}
.post-date, .post-update, .post-author, .amp-back {
    margin-right: 8px;
}

.entry-card-info>* {
    font-size: .7em;
    padding: 2px;
}
.post-date, .post-update, .post-author, .amp-back, .entry-category {
    padding: 2px;
    display: inline;
    font-size: .7em;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.entry-date {
    margin-left: 3px;
}