.article_pankuzu {
    float: left;
}

.writer {
    text-align: right;
}

.writer_img {
    width: 10%;
    border-radius: 50%;
}

.article_title {
    font-size: 3em;
}

@media screen and (max-width: 480px) {
    .article_title {
        font-size: 2em;
    } 
}

.img_page {
    width: 100%;
    margin: 30px 0px;
}
