.main {
    width: 860px;
    padding: 36px 29px;
    border: 1px solid transparent;
    border-radius: var(--cocoon-basic-border-radius);
    position: relative;
    z-index: 0;
}

.main a {
    color: #000000;
    text-decoration: none;
}

.new_article {
	width: 100%;
	height: 200px;
	margin: 1em auto;
    background: #f5f5f5; /* 背景色 */
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    //border: 2px dashed #a9a9a9; /* 線の色 */
    position: relative;
}

.new_article_thumbnail {
	width: 350px;
	height: 200px;
	float: left;
}

.img_new_article {
    object-fit: cover; /* width, heightといっしょに使う */
}

.entry-card-title {
    font-size: 30px;
    margin: 0 0 5px 0;
    line-height: 1.6;
    font-weight: 700;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.entry-card-snippet {
    font-size: var(--cocoon-text-size-s);
    line-height: 1.5;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.entry-card-meta {
    bottom: 0;
    position: absolute;
    right: 0;
    text-align: right;
    line-height: 1;
}

.entry-card-date {
    margin-bottom: 5px;
}

.entry-card-tag {
    margin-right: 5px;
}

.post-date, .post-update, .post-author, .amp-back {
    margin-right: 8px;
}

.post-date, .post-update, .post-author, .amp-back, .entry-category {
    padding: 2px;
    display: inline;
}

a:link {text-decoration:none }
a.page_number:visited {color: black; text-decoration:none }
.pagination {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.page_feed {
    font-size: 30px;
    width: 30px;
    margin: 0 10px;
    padding: 5px 10px;
    text-align: center;
    background: #b8b8b8;
    color: black;
}

.first_last_page {
    font-size: 30px;
    width: 30px;
    margin: 0 10px;
    padding: 5px 10px;
    text-align: center;
    background: #f0f0f0;
    color: black;
}

.page_number {
    font-size: 30px;
    width: 30px;
    margin: 0 10px;
    padding: 5px;
    text-align: center;
    background: #b8b8b8;
    color: black;
}

.now_page_number {
    font-size: 30px;
    width: 30px;
    margin: 0 10px;
    padding: 5px;
    text-align: center;
    background: #f0f0f0;
    color: black;
    font-weight: bold;
}

