@charset "UTF-8";
.body {
  font-family: "Meiryo UI", "メイリオ", "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, sans-serif;
}

.img {
  max-width: 100%;
  height: auto;
}

.a {
  text-decoration-line: none;
}

.p {
  text-decoration-line: none;
}

.h1 {
  margin-top: 0;
  font-size: 3em;
}

.h2 {
  display: block;
  font-size: 1.8em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.area {
  width: 1300px;
  margin: 0 auto;
}

.header {
  　position: fixed; /* ヘッダーを固定する */
  　height: 200px;
  max-width: 1200px;
  top: 0; /* 上部から配置の基準位置を決める */
  margin: 0 auto;
}

.title {
  text-decoration-line: none;
  color: #000000;
}

.logo_2 {
  width: 140px;
}

.h-nav {
  width: 100%;
  clear: both;
}

.b {
  display: flex;
  letter-spacing: -0.4em;
  font-size: 18px;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
  justify-content: space-evenly; /*余白を均等にする*/
  background-color: #000000;
}

.b li {
  letter-spacing: normal;
  display: inline-block;
  width: 16.6666666667%;
}

.b li a {
  display: block;
  text-decoration: none;
  position: relative;
  text-align: center;
  padding: 12px 0px;
  text-transform: none;
  color: #ffffff;
}

.c {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.c a {
  color: #000000;
  text-decoration: none;
}

.h-img {
  max-height: 400px;
  min-width: 864px;
}

.footer {
  height: 60px;
  background: #4d4398;
  color: #fff;
  font-size: 13px;
  clear: both;
  margin-top: 30px;
  margin-bottom: 0;
}

.footer_content {
  width: 90%;
  margin: 0 auto;
  padding: 15px 0;
}

.footer_navi {
  display: inline-block;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

.footer_navi ul li {
  font-size: 13px;
  display: inline-block;
  padding: 0 5px;
}

#footer a {
  color: #fff;
}

ul.menu li a {
  text-decoration-line: none;
}

#copyright {
  float: right;
}

#list, .list-wrap {
  margin-bottom: 3em;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.a-wrap {
  text-decoration: none;
  display: block;
  color: var(--cocoon-text-color);
  padding: 1.5%;
  transition: all 0.3s ease-in-out;
}

article {
  display: block;
  unicode-bidi: isolate;
}

.related-entry-card, .entry-card {
  position: relative;
  height: 100%;
}

.entry-card-thumb {
  width: 320px;
}

.card-thumb img {
  width: 100%;
}

.blogcard-thumbnail img, .card-thumb img {
  aspect-ratio: var(--card-ratio);
  -o-object-fit: cover;
     object-fit: cover;
}

.cat-label {
  position: absolute;
  top: 0.3em;
  left: 0.3em;
  border: 1px solid #eee;
  font-size: 11px;
  color: var(--cocoon-white-color);
  background-color: rgba(51, 51, 51, 0.7);
  padding: 1px 5px;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.side {
  width: 24%;
  margin: 0px auto;
  padding: 10px;
}

.widgettitle {
  position: relative;
  font-size: 16px;
  padding: 8px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  background-color: #4d4398;
}

.searchform {
  background: #fff;
  padding: 11px 10px 11px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
}

.searchsubmit {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 45px;
  padding: 0;
  border-left: none;
  border-radius: 0 3px 3px 0;
}

.profile {
  text-align: center;
}

.img_profile img {
  width: 140px;
  height: 140px;
  border-radius: 30%;
}

.meta {
  padding: 0.5em 1em;
  font-size: 14px;
}

.team_sns {
  text-align: center;
}

.team_sns img {
  width: 80px;
  height: 80px;
}

.profile_sns img {
  width: 60px;
  height: 45px;
}

.name {
  font-weight: bold;
  font-size: 30px;
  float: left;
  margin-left: 70px;
  margin-top: 6px;
}

.new_article_side {
  width: 100%;
  height: 100px;
  margin: 1em auto;
  background: #f5f5f5; /* 背景色 */
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  position: relative;
}

.new_article_thumbnail-side {
  width: 100px;
  height: 100px;
  float: left;
}

.entry-card-content-side {
  margin-left: 110px;
  padding-bottom: 1.2em;
}

.entry-card-title-side {
  margin: 0 0 5px 0;
  line-height: 1.6;
  font-weight: 300;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.entry-card-meta-side {
  bottom: 0;
  position: absolute;
  right: 0;
  text-align: right;
  line-height: 1;
}

.entry-card-info-side {
  padding: 2px;
}

.post-date-side, .post-update, .post-author, .amp-back, .entry-category-side {
  padding: 2px;
  display: inline;
}

.entry-date-side {
  font-size: 0.7em;
  margin-left: 3px;
}

.category {
  height: 50px;
  font-size: 20px;
}

.category_count {
  display: block;
  float: right;
  margin-right: 40px;
}

.timeline {
  max-width: 40%;
  border: 1px solid #333;
  padding: 10px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
